$color :rgb(255, 255, 255);

@mixin titre(){
    color: $color;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

@mixin texte(){
    color: $color;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
@mixin cadretitre() {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.276);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    
}


@mixin titreh2(){
    @include cadretitre;
    @include titre;
    display: flex;
    align-items: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    padding: 20px;
}

@mixin paragraphe(){
    display: flex;
    align-items: center;
    margin: 50px 100px;
}

@mixin bloctexte(){
    @include texte;
    @include cadretitre;
    padding: 60px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p{
        text-align: center;
    }
}

@mixin tablette {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 600px) {
      @content;
    }
}

@mixin zoom{
    &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    }
}