@import "./variable";
*{
    margin: 0;
}

.nav{
    display: flex;
}
.nav ul{
    @include cadretitre;
    gap: 30px;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;

}

.nav li{
    list-style-type: none;
    
}

.nav a{
    text-decoration: none;
    @include titre;
    
    
}

a:hover {
  color : #979797 ;

}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px;
  border-radius: 2px;
  transition: 0.3s;
}


#burger-toggle {
  display: none;
}

header{
    height: 800px;  
    background-image: url("dba03cd57f76c08af1e51ac7f85322b3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding :40px;
}

.img{
    width: 100%;
}


.banderole {
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.276);
  @include texte;
  padding: 10px 0;
  backdrop-filter: blur(10px);
  position: relative;
  white-space: nowrap;
}

.texte-defilant {
  display: inline-block;
  animation: defilement-infini 20s linear infinite;
}

.texte-defilant span {
  display: inline-block;
  padding-right: 50px; 
  font-size: 18px;
}

@keyframes defilement-infini {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.banderole:hover .texte-defilant {
  animation-play-state: paused;
}


.titre{
    @include cadretitre;
    @include titre;
    display: flex;
    align-items: center;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 300px;
    padding: 20px;
}

.corp{
    height: 2700px;  
    background-image: url("./_\ \(34\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(40px);
    
}

.partie1{
    display: flex;
    flex-direction: column;
}

.titre1 {
    @include titreh2;

}

.paragraphe1{
   @include paragraphe;
}

.texte1{
    @include bloctexte;
}

.titre2{
    @include titreh2;
}

.paragraphe2{
    @include paragraphe;
}

.texte2{
    @include bloctexte;
}

.titre3{
    @include titreh2;
}

.paragraphe3{
    @include bloctexte;
    margin-right: 100px;
    margin-left: 100px;
}

.galerie{
    display: flex;
    justify-content: center;
}

.block3{
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logofooter{
    margin: 20px;
}

.navfooter ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 20px;
}

.navfooter li{
    list-style-type: none;
}

.navfooter a{
    @include texte;
    text-decoration: none;
}

.navfooter a:hover {

    color : #979797 ;

}

img {
  @include zoom;
}




@include tablette {
  
    header {
      height: 600px;
      padding: 20px;
    }
  
    .nav {
      flex-direction: column;
      align-items: center;
      ul {
        flex-wrap: wrap;
        gap: 15px;
        margin: 0;
        padding: 10px 20px;
      }
    }
  
    .titre {
      margin: 150px auto 0 auto;
      width: 80%;
      text-align: center;
    }
  
    .corp {
      height: auto;
      padding-bottom: 100px;
    }
  
    .paragraphe1,
    .paragraphe2 {
      flex-direction: column;
      align-items: center;
      margin: 30px 50px;
      img {
        width: 80%;
        margin-bottom: 20px;
      }
      .texte1,
      .texte2 {
        width: 100%;
        padding: 40px;
      }
    }
  
    .galerie {
      flex-wrap: wrap;
      img {
        width: 45%;
        margin: 10px;
      }
    }
  
    .paragraphe3 {
      margin: 30px 50px;
      padding: 40px;
    }
}
  
  

@include mobile {
  

  
  .nav ul {
    display: none;
    flex-direction: column;
    top: 60px;
    right: 0;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.276);
    border-radius: 30px;
    backdrop-filter: blur(10px);
  }

  
  #burger-toggle:checked ~ ul {
    display: flex;
  }

  
  .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .burger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px;
    border-radius: 2px;
    transition: 0.3s;
  }

  
  #burger-toggle:checked + .burger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #burger-toggle:checked + .burger span:nth-child(2) {
    opacity: 0;
  }
  #burger-toggle:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  
  header {
    height: auto;
    background-position: center;
    padding: 10px;
  }
  
  
    .titre {
      font-size: 20px;
      margin: 100px auto 0 auto;
      width: 90%;
      text-align: center;
    }
  
    .corp {
      background-size: cover;
      height: auto;
    }
  
    .paragraphe1,
    .paragraphe2 {
      flex-direction: column;
      margin: 20px;
      img {
        width: 100%;
      }
      .texte1,
      .texte2 {
        padding: 30px;
      }
    }
  
    .galerie {
      flex-direction: column;
      align-items: center;
      img {
        width: 90%;
        margin-bottom: 15px;
      }
    }
  
    .paragraphe3 {
      margin: 20px;
      padding: 30px;
    }
  
    .titre1,
    .titre2,
    .titre3 {
      margin: 20px;
      font-size: 20px;
      padding: 10px;
    }
}


@include tablette {
  footer {
    padding: 40px 20px;
  }

  .navfooter ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .navfooter a {
    font-size: 18px;
  }

  .logofooter img {
    width: 120px;
  }
}


@include mobile {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
  }

  .logofooter {
    margin: 10px 0;
  }

  .logofooter img {
    width: 100px;
  }

  .navfooter ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
  }

  .navfooter a {
    font-size: 16px;
    display: block;
  }

  .navfooter:last-child ul li {
    font-size: 14px;
    line-height: 1.4;
  }
}


