@import "./variable";

ul{
    @include cadretitre;
    gap: 30px;
    margin-right: 250px;
    margin-left: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
    @include titre;
    
}

header{
    height: 800px;  
    background-image: url("dba03cd57f76c08af1e51ac7f85322b3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding :40px;

}

.img{
    width: 100%;
}

.titre{
    @include cadretitre;
    @include titre;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 300px;
}